*.egg-info
*.vscode
*.code-workspace
*.pyc
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.out
*.synctex*
*.log
*desktop.ini
*:Zone.Identifier
/results/cached_benchmarks/*
/results/cached_features/*
/results/trained_models/*
/results/catalogs/raw/*
/results_orig/
results.zip
h

!*.gin
!placeholder
